<section
  class="landing-section bg-black w-full h-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-28 text-[40px] font-medium">Model S</h2>
      <p class="text-black text-sm">Explore Inventory</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-24">
      <div class="flex gap-x-6 mx-auto">
        <a
          class="border-[3px] border-zinc-300 bg-zinc-300 backdrop-blur-sm rounded font-medium text-sm text-zinc-700 px-20 py-2 inline-block hover:bg-zinc-700 hover:border-zinc-700 hover:text-white transition-colors"
          href="#"
        >
          Custom Order
        </a>
        <a
          class="border-[3px] bg-zinc-700 border-zinc-700 backdrop-blur-sm rounded font-medium text-sm text-white px-20 py-2 inline-block hover:bg-zinc-300 hover:border-zinc-300 hover:text-zinc-700 transition-colors"
          href="#"
        >
          Demo Drive
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/Homepage-Model-S-Desktop-LHD-6.22.avif"
      alt="Model S"
      class="h-full w-full object-center object-cover"
    />
  </div>
</section>
